*.tar.gz
*.tar
backup_*
downloads/*.exe
downloads/*.rar
downloads/*.zip
*.exe
*.rar
*.zip
*.db
*.db-journal
*.log
flask.log
__pycache__/
*.pyc
*.save
*.bak
*.backup
*.tmp
*.iso
*.img
*.tar.gz
*.pdf
downloads/
